body {
	width: 320px;
	background: #ffffff;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	-webkit-user-select: none;
}

.ch {
	display: none;
}

label > .box {
	background: #dbdbdb;
	width: 12px;
	height: 12px;
	margin-right: 8px;
	display: inline-block;
	transition: background 0.2s;
	border-radius: 2px;
}

.ch:checked + label > .box {
	background: #16aaf2;
}

label {
	display: flex;
	align-items: center;
	background: rgba(22, 170, 242, 0);
	padding: 8px;
	margin: 4px;
	transition: background 0.2s;
	border-radius: 4px;
}

.ch:checked + label {
	background: rgba(22, 170, 242, 0.2);
}

div {
	height: 0;
	margin: -2px 0;
	padding-left: 0;
	overflow: hidden;
	transition: padding-left 0.4s;
}

div:last-child {
	margin: 0;
}

.ch:checked + * + div {
	height: auto;
	margin: -4px 0;
	padding-left: 16px;
}

.ch:checked + * + div:last-child {
	margin-bottom: 0;
}

.fa {
	color: #dbdbdb;
	transition: color 0.2s;
	margin-left: auto;
}

.ch:checked + label .fa {
	color: #16aaf2;
}
